.footer_container {
  padding: 1rem;
}

.footer_left {
  width: 60%;
  align-items: flex-start;
}

.link {
  font-size: 1.5em;
  transition: 0.5s ease-in-out;
}

.hover__message:hover,
.link:hover {
  transform: translateY(-0.5rem);
}

.whatsapp {
  font-size: 1.5rem;
  border-radius: 100%;
  color: var(--complementry-color);
  background-color: var(--secondary-color);
  padding: 0.5rem 0.7rem;
}

.hover__message {
  position: fixed;
  top: 85vh;
  right: 4rem;
  transition: 0.5s ease-in-out;
}

.hover__message .tooltiptext {
  width: fit-content;
  background-color: var(--complementry-color);
  color: var(--secondary-color);
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.705);

  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  top: -4px;
  left: 50%;
  margin-left: -140px;
  transition: 0.5s ease-in-out;
}

.hover__message .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 59%;
  margin-left: 40px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}

@media (max-width: 900px) {
  .footer_container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer_left {
    width: 100%;
  }

  .social {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .footer_left {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }
  .footer_left_links {
    margin-bottom: 1rem;
  }

  .hover__message {
    top: 75vh;
    right: 2rem;
  }
}
