.navigation{
    color: var(--primary-color);
   
    font-size: .9rem;
}

.nav_container{
     padding: .7em 0 .7em .5em;
    align-items: center;
    justify-content: space-between;
}

.logo_container{
    align-items: center;
    cursor: pointer;
    
}

.logo{
    background-color: var(--complementry-color);
}

.logo_tex{
    margin: .2em;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
    width: 20%;
}

.nav_link{
    margin: 0 1em 0 0;
}

/*------ Toggle menu -------*/
.nav__bar__btn {
    height: fit-content;
    width: 45px;
    padding: 0.2em 0.5em;
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.575);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: var(--secondary-color);
    margin: 0.2rem;
    transition: all 1s ease;
}

