.navigation{
    color: var(--primary-color);
   
    font-size: .9rem;
}

.nav_container{
     padding: .7em 0 .7em .5em;
    align-items: center;
    justify-content: space-between;
}

.logo_container{
    align-items: center;
    cursor: pointer;
    
}

.logo{
    background-color: var(--complementry-color);
}

.logo_tex{
    margin: .2em;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
    width: 20%;
}

.nav_link{
    margin: 0 1em 0 0;
}