.navigation{
    color: rgb(236, 31, 4);
    padding: .7em;
    font-size: .9rem;
}

.nav_container{
    align-items: center;
    justify-content: space-between;
}

.logo_container{
    align-items: center;
    cursor: pointer;
}

.logo{
    background-color: #fff;
}

.logo_tex{
    padding: .2em;
    color: #444545;
    font-weight: 800;
    font-size: 1.4rem;
}

.nav_link{
    margin: 0 1em 0 0;
}