.newest_text {
  width: 50%;
}

.newest_image {
  width: 50%;
}

@media (max-width: 900px) {
  .newest_container {
    flex-direction: column-reverse;
  }

  .newest_text,
  .newest_image {
    width: 100%;
    margin: 0 auto;
  }
}
