html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root{
  --primary-color: rgb(236, 31, 4);
  --secondary-color: #444545;
  --button-text-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.flex{
  display: flex;
}

.flex_col{
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  text-align: center;
  background-color: #444545;
  color: var(--button-text-color);
  font-weight: 600;
  padding:  .7em;
  cursor: pointer;
  border-radius: 5px;
  max-width: 150px;
}

.btn:hover {
  background-color: #313131;
}

.btn2 {
  border: none;
  background-color: rgb(236, 31, 4);
  color: #fff;
  font-weight: 800;
  padding: .7em;
  cursor: pointer;
  border-radius: 5px;
}

.btn2:hover {
  background-color: rgb(199, 28, 5);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
